<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APSortBy</key>
	<integer>0</integer>
	<key>APOrderAsc</key>
	<true/>
	<key>APShowSystemProcesses</key>
	<false/>
	<key>APLaunchAtLogin</key>
	<false/>
	<key>APProcCpulimTaskScheduleInterval</key>
	<integer>100000000</integer>
</dict>
</plist>
